In [51]:
from pydrive2.auth import GoogleAuth
from pydrive2.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

# Autenticación y autorización
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

# ID del archivo en Google Drive (extraído del enlace de Google Drive)
file_id = '1DLTyGzpIqBm7SOPHGD9OnHVKYID4hm9M'

# Descargar el archivo desde Google Drive
downloaded = drive.CreateFile({'id': file_id})
downloaded.GetContentFile('data_latinoamerica.csv')  # Guardar como data_latinoamerica.csv en Colab

In [52]:
import pandas as pd

# Nombre del archivo que deseas cargar
filename_part1 = 'part1_data.csv'

# Cargar el archivo CSV en un DataFrame
df_part1 = pd.read_csv(filename_part1)

# Mostrar las primeras filas del DataFrame
df_part1.head()

# Obtener información del DataFrame
df_part1.info()

# Obtener estadísticas descriptivas
df_part1.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49999 entries, 0 to 49998
Data columns (total 50 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   location_key                           49999 non-null  object
 1   date                                   49999 non-null  object
 2   country_code                           49999 non-null  object
 3   country_name                           49999 non-null  object
 4   new_confirmed                          35136 non-null  float64
 5   new_deceased                           35136 non-null  float64
 6   cumulative_confirmed                   35136 non-null  float64
 7   cumulative_deceased                    35136 non-null  float64
 8   cumulative_vaccine_doses_administered  22826 non-null  float64
 9   population                             49999 non-null  float64
 10  population_male                        49999 non-null  float64
 11  population_female                      49999 non-null  float64
 12  population_rural                       991 non-null    float64
 13  population_urban                       991 non-null    float64
 14  population_density                     991 non-null    float64
 15  human_development_index                991 non-null    float64
 16  population_age_00_09                   49999 non-null  float64
 17  population_age_10_19                   49999 non-null  float64
 18  population_age_20_29                   49999 non-null  float64
 19  population_age_30_39                   49999 non-null  float64
 20  population_age_40_49                   49999 non-null  float64
 21  population_age_50_59                   49999 non-null  float64
 22  population_age_60_69                   49999 non-null  float64
 23  population_age_70_79                   49999 non-null  float64
 24  population_age_80_and_older            49999 non-null  float64
 25  gdp_usd                                991 non-null    float64
 26  gdp_per_capita_usd                     991 non-null    float64
 27  latitude                               49999 non-null  float64
 28  longitude                              49999 non-null  float64
 29  area_sq_km                             22793 non-null  float64
 30  smoking_prevalence                     991 non-null    float64
 31  diabetes_prevalence                    991 non-null    float64
 32  infant_mortality_rate                  991 non-null    float64
 33  nurses_per_1000                        991 non-null    float64
 34  physicians_per_1000                    991 non-null    float64
 35  average_temperature_celsius            49695 non-null  float64
 36  minimum_temperature_celsius            49695 non-null  float64
 37  maximum_temperature_celsius            49695 non-null  float64
 38  rainfall_mm                            49690 non-null  float64
 39  relative_humidity                      49695 non-null  float64
 40  population_largest_city                991 non-null    float64
 41  area_rural_sq_km                       991 non-null    float64
 42  area_urban_sq_km                       991 non-null    float64
 43  life_expectancy                        991 non-null    float64
 44  adult_male_mortality_rate              991 non-null    float64
 45  adult_female_mortality_rate            991 non-null    float64
 46  pollution_mortality_rate               991 non-null    float64
 47  comorbidity_mortality_rate             991 non-null    float64
 48  new_recovered                          0 non-null      float64
 49  cumulative_recovered                   0 non-null      float64
dtypes: float64(46), object(4)
memory usage: 19.1+ MB

,new_confirmed,new_deceased,cumulative_confirmed,cumulative_deceased,cumulative_vaccine_doses_administered,population,population_male,population_female,population_rural,population_urban,population_density,human_development_index,population_age_00_09,population_age_10_19,population_age_20_29,population_age_30_39,population_age_40_49,population_age_50_59,population_age_60_69,population_age_70_79,population_age_80_and_older,gdp_usd,gdp_per_capita_usd,latitude,longitude,area_sq_km,smoking_prevalence,diabetes_prevalence,infant_mortality_rate,nurses_per_1000,physicians_per_1000,average_temperature_celsius,minimum_temperature_celsius,maximum_temperature_celsius,rainfall_mm,relative_humidity,population_largest_city,area_rural_sq_km,area_urban_sq_km,life_expectancy,adult_male_mortality_rate,adult_female_mortality_rate,pollution_mortality_rate,comorbidity_mortality_rate,new_recovered,cumulative_recovered
count,35136.000000,35136.000000,3.513600e+04,35136.000000,2.282600e+04,4.999900e+04,4.999900e+04,4.999900e+04,991.0,991.0,9.910000e+02,9.910000e+02,4.999900e+04,4.999900e+04,4.999900e+04,4.999900e+04,4.999900e+04,4.999900e+04,4.999900e+04,4.999900e+04,49999.000000,9.910000e+02,991.0,49999.000000,49999.000000,2.279300e+04,9.910000e+02,9.910000e+02,9.910000e+02,9.910000e+02,9.910000e+02,49695.000000,49695.000000,49695.000000,49690.000000,49695.000000,991.0,991.0,991.0,9.910000e+02,991.000,9.910000e+02,9.910000e+02,9.910000e+02,0.0,0.0
mean,400.904941,5.856358,1.527804e+05,2971.041695,1.142760e+06,1.332190e+06,5.833634e+05,6.148639e+05,3599141.0,41339571.0,1.651500e+01,8.250000e-01,2.013577e+05,2.093575e+05,1.913828e+05,1.724505e+05,1.351936e+05,1.168842e+05,8.738604e+04,5.455251e+04,29622.767675,4.496634e+11,10006.0,-31.138348,-62.229735,1.452268e+05,2.180000e+01,5.900000e+00,8.800000e+00,2.599600e+00,3.990100e+00,17.658086,10.882498,24.843189,2.293508,64.152093,15057273.0,2690269.0,55032.0,7.652000e+01,147.086,7.948300e+01,2.660000e+01,1.580000e+01,NaN,NaN
std,3871.919636,37.240821,9.203261e+05,15626.435503,8.328733e+06,6.655263e+06,2.893592e+06,3.052133e+06,0.0,0.0,7.109015e-15,1.110784e-16,9.939823e+05,1.038166e+06,9.518206e+05,8.569572e+05,6.703021e+05,5.813630e+05,4.342198e+05,2.711169e+05,148206.388706,0.000000e+00,0.0,5.741879,2.866099,5.659176e+05,1.066352e-14,8.886269e-16,1.777254e-15,4.443134e-16,1.332940e-15,5.932096,6.305613,6.291152,6.909133,13.969838,0.0,0.0,0.0,1.421803e-14,0.000,2.843606e-14,3.554508e-15,1.777254e-15,NaN,NaN
min,0.000000,0.000000,0.000000e+00,0.000000,1.000000e+00,5.652000e+03,2.785000e+03,2.867000e+03,3599141.0,41339571.0,1.651500e+01,8.250000e-01,1.246000e+03,1.387000e+03,6.590000e+02,5.810000e+02,4.780000e+02,3.320000e+02,2.070000e+02,1.080000e+02,115.000000,4.496634e+11,10006.0,-38.866667,-66.321944,5.500000e+01,2.180000e+01,5.900000e+00,8.800000e+00,2.599600e+00,3.990100e+00,2.522222,-6.152778,6.950617,0.000000,17.421442,15057273.0,2690269.0,55032.0,7.652000e+01,147.086,7.948300e+01,2.660000e+01,1.580000e+01,NaN,NaN
25%,0.000000,0.000000,4.620000e+02,12.000000,4.197000e+03,1.449400e+04,7.058000e+03,7.364000e+03,3599141.0,41339571.0,1.651500e+01,8.250000e-01,2.259000e+03,2.395000e+03,1.927000e+03,1.918000e+03,1.516000e+03,1.344000e+03,1.150000e+03,7.560000e+02,425.000000,4.496634e+11,10006.0,-35.616667,-65.218611,1.080000e+03,2.180000e+01,5.900000e+00,8.800000e+00,2.599600e+00,3.990100e+00,12.851852,5.811111,20.146296,0.000000,54.516697,15057273.0,2690269.0,55032.0,7.652000e+01,147.086,7.948300e+01,2.660000e+01,1.580000e+01,NaN,NaN
50%,3.000000,0.000000,1.836000e+03,48.000000,1.206750e+04,2.904400e+04,1.428600e+04,1.470700e+04,3599141.0,41339571.0,1.651500e+01,8.250000e-01,5.046000e+03,5.204000e+03,4.144000e+03,3.786000e+03,3.057000e+03,2.702000e+03,2.081000e+03,1.406000e+03,759.000000,4.496634e+11,10006.0,-34.133333,-62.083333,2.365000e+03,2.180000e+01,5.900000e+00,8.800000e+00,2.599600e+00,3.990100e+00,17.955556,11.271605,25.277778,0.000000,64.790409,15057273.0,2690269.0,55032.0,7.652000e+01,147.086,7.948300e+01,2.660000e+01,1.580000e+01,NaN,NaN
75%,16.000000,0.000000,6.154000e+03,161.000000,3.696075e+04,6.528000e+04,3.164800e+04,3.363200e+04,3599141.0,41339571.0,1.651500e+01,8.250000e-01,1.272400e+04,1.334000e+04,9.627000e+03,9.419000e+03,7.612000e+03,7.019000e+03,6.231000e+03,3.266000e+03,1686.000000,4.496634e+11,10006.0,-24.895833,-59.800000,1.189200e+04,2.180000e+01,5.900000e+00,8.800000e+00,2.599600e+00,3.990100e+00,22.458333,16.277778,29.712963,0.863600,74.427236,15057273.0,2690269.0,55032.0,7.652000e+01,147.086,7.948300e+01,2.660000e+01,1.580000e+01,NaN,NaN
max,174174.000000,656.000000,9.697763e+06,129830.000000,1.092048e+08,4.493871e+07,1.952377e+07,2.059333e+07,3599141.0,41339571.0,1.651500e+01,8.250000e-01,6.718871e+06,7.045513e+06,6.430658e+06,5.777148e+06,4.507125e+06,3.911943e+06,2.914251e+06,1.817557e+06,994030.000000,4.496634e+11,10006.0,-22.250278,-57.783333,2.780400e+06,2.180000e+01,5.900000e+00,8.800000e+00,2.599600e+00,3.990100e+00,33.419753,26.951389,41.208333,151.892000,98.595715,15057273.0,2690269.0,55032.0,7.652000e+01,147.086,7.948300e+01,2.660000e+01,1.580000e+01,NaN,NaN

In [53]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# Calcular la matriz de correlación
df_matriz_correlacion = df.corr()

# Obtener las variables más correlacionadas (absolutas) con otras variables
correlation_values = df_matriz_correlacion.abs().unstack().sort_values(ascending=False)
most_correlated = correlation_values[correlation_values != 1].drop_duplicates().head(10)

In [59]:
import pandas as pd



# Calcular la matriz de correlación
df_matriz_correlacion = df.corr()

# Obtener las variables más correlacionadas (absolutas) con otras variables
correlation_values = df_matriz_correlacion.abs().unstack().sort_values(ascending=False)
most_correlated = correlation_values[correlation_values != 1].drop_duplicates().head(10)

# Crear un DataFrame con las correlaciones más altas
df_most_correlated = pd.DataFrame({
    'Correlación': most_correlated.values,
    'Variable 1': [x[0] for x in most_correlated.index],
    'Variable 2': [x[1] for x in most_correlated.index]
})

# Mostrar el DataFrame con las correlaciones más altas
print("DataFrame con las correlaciones más altas:")
print(df_most_correlated)

DataFrame con las correlaciones más altas:
   Correlación Variable 1  Variable 2
0     0.753270       6667   76.532612
1     0.319772        0.0   76.532612
2     0.299902       6667         0.0
3          NaN       6667  Unnamed: 3

In [57]:
import pandas as pd



# Calcular la matriz de correlación
df_matriz_correlacion = df.corr()

# Obtener los nombres de las columnas del DataFrame original
nombres_columnas = df.columns

# Mostrar los nombres de las columnas
print("Nombres de las columnas en el DataFrame:")
print(nombres_columnas)

# Mostrar la matriz de correlación como DataFrame
print("\nMatriz de Correlación:")
print(df_matriz_correlacion)

# Obtener las variables más correlacionadas (absolutas) con otras variables
correlation_values = df_matriz_correlacion.abs().unstack().sort_values(ascending=False)
most_correlated = correlation_values[correlation_values != 1].drop_duplicates().head(10)

# Mostrar las variables más correlacionadas en una tabla
print("\nVariables más significativamente correlacionadas (absolutas):")
print(most_correlated)

Nombres de las columnas en el DataFrame:
Index(['6667', '0.0', '76.532612', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5',
       'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10',
       '0.0.1', '0.0.2'],
      dtype='object', name='Columnas')

Matriz de Correlación:
Columnas         6667       0.0  76.532612  Unnamed: 3  Unnamed: 4  \
Columnas
6667         1.000000 -0.299902  -0.753270         NaN         NaN
0.0         -0.299902  1.000000   0.319772         NaN         NaN
76.532612   -0.753270  0.319772   1.000000         NaN         NaN
Unnamed: 3        NaN       NaN        NaN         NaN         NaN
Unnamed: 4        NaN       NaN        NaN         NaN         NaN
Unnamed: 5        NaN       NaN        NaN         NaN         NaN
Unnamed: 6        NaN       NaN        NaN         NaN         NaN
Unnamed: 7        NaN       NaN        NaN         NaN         NaN
Unnamed: 8        NaN       NaN        NaN         NaN         NaN
Unnamed: 9        NaN       NaN        NaN         NaN         NaN
Unnamed: 10       NaN       NaN        NaN         NaN         NaN
0.0.1             NaN       NaN        NaN         NaN         NaN
0.0.2             NaN       NaN        NaN         NaN         NaN

Columnas     Unnamed: 5  Unnamed: 6  Unnamed: 7  Unnamed: 8  Unnamed: 9  \
Columnas
6667                NaN         NaN         NaN         NaN         NaN
0.0                 NaN         NaN         NaN         NaN         NaN
76.532612           NaN         NaN         NaN         NaN         NaN
Unnamed: 3          NaN         NaN         NaN         NaN         NaN
Unnamed: 4          NaN         NaN         NaN         NaN         NaN
Unnamed: 5          NaN         NaN         NaN         NaN         NaN
Unnamed: 6          NaN         NaN         NaN         NaN         NaN
Unnamed: 7          NaN         NaN         NaN         NaN         NaN
Unnamed: 8          NaN         NaN         NaN         NaN         NaN
Unnamed: 9          NaN         NaN         NaN         NaN         NaN
Unnamed: 10         NaN         NaN         NaN         NaN         NaN
0.0.1               NaN         NaN         NaN         NaN         NaN
0.0.2               NaN         NaN         NaN         NaN         NaN

Columnas     Unnamed: 10  0.0.1  0.0.2
Columnas
6667                 NaN    NaN    NaN
0.0                  NaN    NaN    NaN
76.532612            NaN    NaN    NaN
Unnamed: 3           NaN    NaN    NaN
Unnamed: 4           NaN    NaN    NaN
Unnamed: 5           NaN    NaN    NaN
Unnamed: 6           NaN    NaN    NaN
Unnamed: 7           NaN    NaN    NaN
Unnamed: 8           NaN    NaN    NaN
Unnamed: 9           NaN    NaN    NaN
Unnamed: 10          NaN    NaN    NaN
0.0.1                NaN    NaN    NaN
0.0.2                NaN    NaN    NaN

Variables más significativamente correlacionadas (absolutas):
Columnas  Columnas
6667      76.532612     0.753270
0.0       76.532612     0.319772
6667      0.0           0.299902
          Unnamed: 3         NaN
dtype: float64